<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
</head>
<body style="background-image: url('/images/home-bg.png');" onload="formFill();">
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Home</a>
          </div>
          <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <%for(i=0;i<nav.length;i++){%>
              <li>
                <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
              </li>
              <%}%>
            </ul>
          </nav>
        </div>
      </header>


      <div id="masthead">  
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <h1><%=title%>
                <p class="lead"></p>
              </h1>
            </div>
            <div class="col-md-5">
                <div class="well well-lg"> 
                  <div class="row">
                    <div class="col-sm-12">
                    </div>
                  </div>
                </div>
              </div>
          </div> 
        </div><!-- /cont -->

        <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="top-spacer"> </div>
              </div>
            </div> 
          </div><!-- /cont -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="align-content: center;"> 
                <div class="panel">
                    <div class="panel-body">
                        <div class="row" style="margin:auto;">    
                            <br>
                            <div class="col-md-5" style="border-style:double; margin:10px;">
                                <br><p style="font-weight: bold;">
                                    Add Books 
                                <br></p>
                                <!-- BOOK -->
                                <form class="form" id="addBookForm" method="POST" action=<%= act1%>>
                                    <div class="mb-3">
                                        Title <br>
                                        <input type="text" class="form-control" id="bookTitle" name="title" required>
                                    </div>
                                    <div class="mb-3">
                                        Author <br>
                                        <input type="text" class="form-control" id="bookAuth" name="author" required>
                                    </div>
                                    <div class="mb-3">
                                        Genre(s) <br>
                                        <input type="text" class="form-control" id="bookGenre" name="genre" required>
                                    </div>
                                    <div class="mb-3">
                                        Image Link <br>
                                        <input type="text" class="form-control" id="bookImage" name="image" required>
                                    </div>
                                    <div class="mb-3">
                                        About <br>
                                        <input type="text" class="form-control" name="bio" id="bookBio" required>
                                    </div>
                                    <div class="mb-3 form-check">
                                      <input type="checkbox" class="form-check-input" id="confirmAuthCheck">
                                      <label class="form-check-label">Verified</label>
                                  </div>
                                    <button type="submit" class="btn btn-primary">Add Book</button>
                                </form>
                            <!-- BOOK -->
                            <br>
                            </div>
                            <!-- ADD BOOK ENDS -->
                            
                            <!-- ADD AUTH -->
                            <div class="col-md-5" style="border-style:double; margin:10px;">
                                <br><p style="font-weight: bold;">
                                    Add Author 
                                <br></p>
                                <!-- LOG IN -->
                                <form class="form" id="addAuthForm" method="POST" action=<%= act2%>>
                                    <div class="mb-3">
                                        Author's Name <br>
                                        <input type="text" class="form-control" id='authName' name="name" required>
                                    </div>
                                    <div class="mb-3">
                                        About author <br>
                                        <input type="text" class="form-control" id='authBio' name="bio" required>
                                    </div>
                                    <div class="mb-3">
                                        Image link <br>
                                        <input type="text" class="form-control" id='authImage' name="image" required>
                                    </div>
                                    <div class="mb-3">
                                        More About Author <br>
                                        <input type="text" class="form-control" id='authBio2' name="bio2" required>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="confirmAuthCheck">
                                        <label class="form-check-label">Verified</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add Author</button>
                                </form>
                            <!-- ADD AUTH ENDS -->
                            <br>
                            </div>
                        </div>
                        <br>     
                    </div>
                </div>                                           
            </div>
            <!--ADD DATA FORMS END-->

        </div>
    </div>

      <footer>
        <div class="container">
          <div class="row">
              <ul class="list-inline">
                <li><i class="icon-facebook icon-2x"></i></li>
                <li><i class="icon-twitter icon-2x"></i></li>
                <li><i class="icon-google-plus icon-2x"></i></li>
                <li><i class="icon-pinterest icon-2x"></i></li>
              </ul>
          </div>
        </div>
      </footer>
    
	<!-- script references -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="/js/custom-script.js"></script>
		<script src="/js/bootstrap.min.js"></script>
    <script>
      function formFill(){
        document.getElementById('bookTitle').value= "<%=book.title%>";
        document.getElementById('bookAuth').value= "<%= book.author%>";
        document.getElementById('bookGenre').value="<%= book.genre%>";
        document.getElementById('bookImage').value="<%= book.image%>";
        document.getElementById('bookBio').value= "<%=book.bio%>";
        document.getElementById('authName').value='<%= auth.name%>';
        document.getElementById('authBio').value='<%= auth.bio%>';
        document.getElementById('authImage').value="<%= auth.image%>"; 
        document.getElementById('authBio2').value="<%= auth.bio2%>";
      };
    </script>
</body>
</html>